<h1>Cities</h1>

<div *ngFor="let city of cities">
  <p>Name : {{city.name}}</p>
</div>

<!--<body>-->
<!--  <nav>-->
<!--    <div class="dropdown">-->
<!--    <button><a href="#">Home</a></button>-->
<!--      <div class="projects">-->
<!--        <button>Projects</button>-->
<!--        <ul>-->
<!--          <li><a href="#">Weather App</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</body>-->
<div class="dropdown">
  <button onclick="myFucntion()" calss="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>
