<h1>I am from app component</h1>
<h3>HOME PAGE</h3>

<a href="http://localhost:4200/airports">
  <button>Airport list</button>
</a>
<a href="http://localhost:4200/cities">
  <button>City list</button>
</a>
<a href="http://localhost:4200/countries">
  <button>Country list</button>
</a>
<a href="http://localhost:4200/hotels">
  <button>Hotel list</button>
</a>
<a href="http://localhost:4200/reservations">
  <button>Reservation</button>
</a>
<a href="http://localhost:4200/rooms">
  <button>Room</button>
</a>
<a href="http://localhost:4200/tickets">
  <button>Ticket</button>
</a>
<router-outlet></router-outlet>
<h2>Finish</h2>
