<div class="container">
  <h1>Create new travel</h1>
  <form [formGroup]="travelForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Travel name:</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Start date</mat-label>
      <input matInput formControlName="date">
    </mat-form-field>
  </div>

    <button mat-raised-button type="submit">Create Travel</button>

  </form>
</div>
