<script src="../airport-list/airport-list.component.ts"></script>
<div class="container">
  <h1>Create new airport</h1>
  <form   (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Airport name:</mat-label>
        <input matInput [(ngModel)]="airportCreateDTO.name"  name="name">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [(ngModel)]="airportCreateDTO.cityId"  name="cityId" >
          <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit">Create airport</button>

  </form>

  <a href="http://localhost:4200/airports">
    <button>Airports</button>
  </a>

  <br>
  <br>
  <a href="http://localhost:4200/home-page">
    <button>Homepage</button>
  </a>

</div>
