<h2>home page logged in</h2>
<!--<router-outlet></router-outlet>-->
<a href="http://localhost:4200/airports">
  <button>Airports</button>
</a>
<a href="http://localhost:4200/cities">
  <button>Cities</button>
</a>
<a href="http://localhost:4200/countries">
  <button>Countries</button>
</a>
<a href="http://localhost:4200/hotels">
  <button>Hotels</button>
</a>
<a href="http://localhost:4200/reservations">
  <button>Reservations</button>
</a>
<a href="http://localhost:4200/rooms">
  <button>Rooms</button>
</a>
<a href="http://localhost:4200/tickets">
  <button>Tickets</button>
</a>
