<div class="container">
  <h1>Create new airport</h1>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Reservation name:</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit">Create reservation</button>

  </form>

  <a href="http://localhost:4200/reservations">
    <button>Reservations</button>
  </a>

  <br>
  <br>
  <a href="http://localhost:4200/home-page">
    <button>Homepage</button>
  </a>

</div>
